/.idea/
/my-tanhua-common/target/
/my-tanhua-common/my-tanhua-common.iml
/my-tanhua-dubbo/my-tanhua-dubbo-es/target/
/my-tanhua-dubbo/my-tanhua-dubbo-es/my-tanhua-dubbo-es.iml
/my-tanhua-dubbo/my-tanhua-dubbo-huanxin/target/
/my-tanhua-dubbo/my-tanhua-dubbo-huanxin/my-tanhua-dubbo-huanxin.iml
/my-tanhua-dubbo/my-tanhua-dubbo-interface/target/
/my-tanhua-dubbo/my-tanhua-dubbo-interface/my-tanhua-dubbo-interface.iml
/my-tanhua-dubbo/my-tanhua-dubbo-service/my-tanhua-dubbo-service.iml
/my-tanhua-dubbo/my-tanhua-dubbo-service/my-tanhua-dubbo.iml
/my-tanhua-dubbo/my-tanhua-dubbo-service/target/
/my-tanhua-server/target/
/my-tanhua-server/my-tanhua-server.iml
/my-tanhua-sso/target/
/my-tanhua-sso/my-tanhua-sso.iml
/my-tanhua.iml
/my-tanhua-manager/my-tanhua-manager.iml

*.iml
*/target/
/my-tanhua-manager/my-tanhua-mananger-dashboard/my-tanhua-mananger-dashboard.iml
/my-tanhua-manager/my-tanhua-manager.iml
